* {
  font-family: Verdana;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  color: azure;
  overflow: hidden;
  background: linear-gradient(to right, rgb(56, 18, 119), rgb(112, 24, 139));
}

.title {
  font-size: 23px;
  text-align: center;
}